.icon{
  height: 30px;
  width: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  padding-left: 5%;
}

.caption{
  text-align: center;
  text-decoration: none;
  color: #333;
}

.column{
  padding-top: 4%;
  margin-left: 4%;
  padding-right: 10%;
  border-right: 2px solid gray;
  border-right-style: dashed;
}

.nav{
  padding-bottom: 5%;
}

.first{
  margin-top: 10%;
}

.last {
  margin-bottom: 90%;
}
